{
	"env": {
		"es2021": true
	},
	"settings": {
		"react": {
			"version": "17.0.2"
		}
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"plugins": [
		"react",
		"@typescript-eslint",
		"prettier",
		"eslint-plugin-import-helpers",
		"unused-imports"
	],
	"rules": {
		"linebreak-style": [
			"error",
			"unix"
		],
		"prettier/prettier": [
			"error",
			{
				"singleQuote": true,
				"printWidth": 100,
				"tabWidth": 2,
				"useTabs": false,
				"semi": false,
				"trailingComma": "es5",
				"space-before-function-paren": [
					"error",
					"always"
				]
			}
		],
		"@typescript-eslint/no-extra-semi": [
			"off"
		],
		"no-console": "error",
		"react/react-in-jsx-scope": "off",
		"import-helpers/order-imports": [
			"warn",
			{
				// example configuration
				"newlinesBetween": "always",
				"groups": [
					[
						"/^react/",
						"/^react-native/"
					],
					"/^@react/",
					"/^expo/",
					"/^redux/",
					"module",
					"/@\/redux/",
					"/^@\/context/",
					"/^@\/navigations/",
					[
						"/^@\/screens/",
						"/^@\/components/"
					],
					"/^@\/services/",
					[
						"parent",
						"sibling",
						"index"
					],
					[
						"/^@\/assets/",
						"/^@\/hooks/",
						"/^@\/global/"
					],
					"/^@\/utils/"
				],
				"alphabetize": {
					"order": "asc",
					"ignoreCase": true
				}
			}
		],
		"unused-imports/no-unused-imports": "error"
	},
	"ignorePatterns": [
		"metro.config.js",
		"babel.config.js",
		"node_modules",
    "jest.config.js",
    "next.config.js",
    "src/components/atom/react-date-picker/**/*"
	]
}